.sitemap
{
    &__title
    {
        text-transform: uppercase;

        color: #999;
    }

    &__title,
    &__item
    {
        line-height: 24px;
    }

    &__section
    {
        padding: 10px 0;
        border: 1px solid red;
    }

    &__item
    {
        padding-left: 15px;
    }
}
